<!-- Footer -->
<div class="footer">
   <div class="row">
    <div class="col-md-6">
        <ul>
            <li><a href="{{ site.url }}/aviso-legal/index.html">Aviso legal</a></li>
            <li><a href="{{ site.url }}/politica-de-privacidad/index.html">Política de privacidad</a></li>
            <li><a href="{{ site.url }}/politica-de-cookies">Política de cookies</a></li>
        </ul>
       </div>
       <div class="col-md-6">
        <ul>
            <li><a href="{{ site.url }}/sitio/index.html">Sitio en Github</a></li>
            <li><a href="{{ site.url }}/colaborar/index.html">Colaborar</a></li>
            <li>Seguinos en las redes: <a href="https://twitter.com/CAPPRESS1587551"></a><i class="fas fa-x-twitter"></i></a><a href="https://github.com/eldoradomedia"><i class="fas fa-github"></i></a></i></a></li>
        </ul>
       </div>
       <div class="col-md-12">
        <span>Todos los derechos reservados © 2024 ELBOSTEROBOT.TK</span>
       </div>
   </div> 
</div>
