<div id="nav-wrap">
    <div id="main-nav" class="navbar">
        <div class="navbar-inner">
        <div class="container">
                   <ul class="nav">
            <li class="active"><a href="#">Home</a>

            </li>
            <li><a href="#">Apertura</a>

            </li>
            <li><a href="#">Libertadores</a>

            </li>
            <li><a href="#">Clausura</a>

            </li>
            <li><a href="#">Intermedio</a>

            </li>
        </ul>
        </div>
    </div> <!-- navbar -->
</div>
