
<div class="espacio kustom_culture">
  <h2>PRÓXIMO PARTIDO</h2>
</div>
        
        <div class="card m-2 dyuthi_regular">
          <div class="card-header text-center kustom_culture"><span>APERTURA · JORNADA 11</span>
          </div>
          <img src="/images/LIV-PEN.png"/>
          <div class="card-body">
            <p class="card-title dyuthi_regular" id="countdown-clock">
            </p>
            <span class="card-text">Día y hora: 03/05/2024 20:00 CET<br>Estadio: Estadio Belvedere<br>Localidad: Montevideo, Uruguay<br></span>
            <a href="/penarol-directo/index.html" class="btn btn-dark kustom_culture">Ver Online </a>
          </div>
        </div>
        <script>
            // Converting string to required date format 
            let deadline = new Date("May 3, 2024 20:00:00")
                            .getTime();
 
            // To call defined fuction every second
            let x = setInterval(function () {
                 
                // Getting current time in required format
                let now = new Date().getTime();
 
                // Calculating the difference
                let t = deadline - now;
 
                // Getting value of days, hours, minutes, seconds
                let days = Math.floor(t / (1000 * 60 * 60 * 24));
                let hours = Math.floor(
                    (t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor(
                    (t % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor(
                    (t % (1000 * 60)) / 1000);
 
                // Output the remaining time
                document.getElementById("countdown-clock").innerHTML =
                    days + "d " + hours + "h " + 
                    minutes + "m " + seconds + "s ";
 
                // Output for over time
                if (t < 0) {
                    clearInterval(x);
                    document.getElementById("countdown-clock")
                            .innerHTML = "¡COMENZÓ EL PARTIDO!";
                }
            }, 1000);
        </script>
      
  