---
---


@import "customized-bootstrap";

@import "bootstrap/scss/bootstrap"; 

$white:    #fff;
$red:     #dc3545;
$body-bg: $red;
$body-color: $white;

/* custom vars */
$custom-font-size: 20px;

.content {
  font-size: $custom-font-size;
}

.primarycolor{
    color: $primary; //using Bootstrap variable
}

@font-face {
    font-family: 'kustom_cultureregular';
    src: url('/assets/css/fonts/kustomculture-regular-webfont.woff2') format('woff2'),
         url('/assets/css/fonts/kustomculture-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dyuthiregular';
    src: url('/assets/css/fonts/dyuthi-regular-webfont.woff2') format('woff2'),
         url('/assets/css/fonts/dyuthi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.kustom_culture {
    font-family: 'kustom_cultureregular';
}

.dyuthi_regular {
    font-family: 'dyuthiregular';
}

.espacio {
    margin-top: 60px;
    margin-bottom: 20px;
}

.cover-sidebar {
    position: relative;
    padding: 0px 30px;
    margin-top: 200px;
}

#countdown-clock {
    text-align: left;
    font-size: 35px;
}